html, body {
    
   background: url(image2.png);
    height: 100vh;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 100%;
  background-attachment: fixed;
  
  
}

@font-face {
	font-family: 'playfair';
	src: url(PlayfairDisplay-Italic-VariableFont_wght.ttf) format(truetype);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'notoserif';
	src: url(NotoSerifGeorgian-VariableFont_wdth\,wght.ttf) format(truetype);
	font-weight: normal;
	font-style: normal;
}


.formulario { 
  max-width: 450px;
  overflow: hidden ; 
  margin: 2px;
  margin-top:50px;
  margin-left: 500px;
  background: #fff; 
  box-shadow: 1px 1px 1.2px 0px #000000; 
  border-radius: 3px; 
  padding: 2em; 
}

.formulario .title { 
  width: 100%; 
  float:right; 
  margin-bottom:1em; 
  font-size:1.5em; 
  font-weight: 200; 
  text-align: center; 
  border-bottom: 1px  rgb(36, 92, 75) solid; 
  padding-bottom: 1em;
  color:  rgb(36, 92, 75);
}

.formulario .label { 
  width:100%;
  float:left; 
  margin-bottom:10px;
  margin-top:30px;
}

.formulario .label span { 
  width: 100%; 
  float: left;
  color:  rgb(36, 92, 75);
  margin-bottom: 1px; 
}

.formulario .campo {
  color:  rgb(36, 92, 75);
  font-family: 'open_sansregular';
  font-size: 16px;
  border-radius: 3px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #D2D2D2;
  transition: all 0.3s;
  padding: 11px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.formulario .campo:focus { 
    border: 2px solid  rgb(36, 92, 75);
    color:  rgb(36, 92, 75);
}

.formulario textarea {
  height: 100px;
  line-height: 100%;
  resize:vertical;
}

.formulario .botao {
  font-family: 'open_sansregular';
  width: 100%;
  background: rgb(36, 92, 75);
  color: #f9f1f6;
  border-radius:5px;
  border:0;
  cursor:pointer;
  font-size:22px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

.formulario .botao:hover { background: rgb(36, 92, 75);}
/*ANTI-SPAN*/
.naoexibir { 
  display:none; 
}

ul{
	list-style: none;
	
}

a{
  font-family: 'playfair';
	text-decoration: none;
	color: #000;
	display: block;
	padding: 20px 5px;
  text-align: center;

}

a:hover{
	background-color: rgb(100, 120, 100);
	color: white;
}

img{
   width="148" height="151.84"
}

*{
	padding: 0px;
	margin: 0px;
}

nav{ background: url();
    font-size: 20px;
    
  
}